$color-primary: #0074D9;
$color-primary-lighter:#A8DAFF;
$color-secondary: #71F79F;
$color-secondary-lighter: #a3fac2;
$color-gray-one: #333;
$color-gray-two: #bdbdbd;
$color-gray-three: #eeeeee;
$color-gray-four: #f9f9f9;