@import "./sass/variables";

.App {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: #abc;
  min-height: 100vh;
}

.color-primary {
    color: $color-primary;
}
.color-primary-lighter {
    color: $color-primary-lighter;
}
.color-secondary {
    color: $color-secondary;
}
.color-secondary-lighter {
    color: $color-secondary-lighter;
}
.color-gray-one {
    color: $color-gray-one;
}
.color-gray-two {
    color: $color-gray-two;
}
.color-gray-three {
    color: $color-gray-three;
}
.color-gray-four {
    color: $color-gray-four;
}

.faded {
    opacity: .15;
    pointer-events: none;
}